/* NAVIGATION */

.return-wrapper {
    width: 100%;
    max-width: 134px;
    text-align: center;
}

.return-wrapper > a > button {
    border: none;
    background-color: transparent;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.8rem;
    transition: 0.3s;
    color: #1f1f1f;
}

.return-wrapper > a > button:hover {
    font-size: 1.8rem;
}

.return-wrapper > a > button:focus {
    outline: none;
}

@media (min-width: 576px) {
    .return-wrapper {
        max-width: 170px;
    }
}

@media (min-width: 768px) {
    .return-wrapper {
        max-width: 270px;
    }

    .return-wrapper > a > button {
        font-size: 2rem;
    }

    .return-wrapper > a > button:hover {
        font-size: 2.2rem;
    }
}

/* PHOTOS GRID */

section.gallery {
    margin: 10vh 0;
}

.info {
    padding-top: 2rem;
    text-align: center;
    font-family: 'Coda', cursive;
    font-size: 1.2rem;
    color: #999;
}

.fa-info-circle {
    margin-right: 1rem;
}

.photo-link > img {
    display: block;
    width: 100%;
    height: 26vw;
    transition: 0.5s;
}

/* for documents images */
.document-link > img {
    height: 40vw;
}

.img-border > img {
    border: 1px solid #334795;
}
/**/

.photo-link > img:hover {
    transform: scale(1.1);
}

.row {
    width: auto;
}

@media (min-width: 690px) {
    section.gallery {
        margin: 12vh 0;
    }
}

@media (min-width: 1024px) {
    section.gallery {
        margin: 10vh 0;
    }
}

@media (min-width: 576px) {
    .info {
        font-size: 1.4rem;
    }

    .photo-link > img {
        height: 14vw;
    }

    /* for documents images */
    .document-link > img {
        height: 22vw;
    }
    /**/
}

@media (min-width: 768px) {
    .info {
        padding-top: 3.2rem;
    }
}
